.listings-block__section {
    padding-bottom: 146px;

    @include md {
        padding-bottom: 112px;
    }

    @include lg {
        padding-bottom: 146px;
    }
}

.listings-block__title {
    background-color: $purple;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $white;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 64px;

    @include md {
        font-size: 40px;
        line-height: 48px;
    }

    @include lg {
        font-size: 70px;
        line-height: 77px;
    }
}

.listings-block__grid {
    padding-left: 16px;
    padding-right: 16px;

    @include lg {
        display: flex;
    }
}

.listings-row {
    align-items: center;
    flex-direction: column;

    @include md {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    @include lg {
        justify-content: space-evenly;
    }
}

.listing-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md {
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        width: 21%;
        align-items: flex-start;
    }
}

.listing-block__body {
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    font-style: normal;
    color: $purple;
    width: 100%;

    @include md {
        align-items: flex-start;
        margin-left: 0%;
    }

    @include lg {
        font-size: 20px;
        line-height: 35px;
    }
}

.listing-block__button {
    color: $purple;
    display: flex;
    text-decoration: none;
    background-color: $yellow;
    padding: 8px 16px;
    min-width: 179px;
    border-radius: 8px;
    align-items: center;
    font-weight: 500;
    justify-content: center;

    @include md {
        margin-right: 0px;
        margin-left: 0px;
    }

    @include lg {
        font-size: 15px;
        line-height: 42px;
        padding-top: 4px;
        width: 100%;
    }
}