.name-block {
  padding-top: 127px;
  padding-bottom: 140px;

  @include md {
    padding-bottom: 112px;
    padding-top: 86px;
  }

  @include lg {
    padding-bottom: 146px;
  }
}

.name-block__title {
  background-color: $purple;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: $white;
  padding-bottom: 12px;
  padding-top: 12px;

  @include md {
    font-size: 36px;
  }

  @include lg {
    font-size: 70px;
    line-height: 77px;
  }
}

.name-block__input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;

  @include md {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-right: 9%;
    justify-content: space-between;
    padding-bottom: 0px;
  }

  @include lg {
    align-items: center;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 20px;
  }
}

.name__input {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15%;
  padding-right: 20%;

  @include md {
    padding-right: 20px;
    flex-wrap: wrap;
    width: 50%;
  }

  @include lg {
    columns: 2;
  }
}

::placeholder {
  color: $purple;
}

.field-input {
  border: 3px solid $purple;
  border-radius: 12px;
  width: 100%;
  height: 48px;
  box-shadow: 8px 8px $dark-grey;
  position: relative;
  font-size: 20px;
  padding-left: 12px;
}

.date-month {
  color: $purple;
  text-transform: uppercase;
  padding-right: 12px;
}

.submit__button {
  color: $purple;
  margin-left: auto;
  margin-top: 29px;
  margin-bottom: 45px;
  flex-direction: column;
  display: flex;
  align-self: flex-end;
  text-decoration: none;
  background-color: $yellow;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 8px;
  margin-right: 27px;
  font-size: 20px;

  @include md {
    font-size: 20px;
    padding: 10px 18px;
  }

  @include lg {
    padding: 12px 20px;
  }
}

.steps__image {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  padding-top: 54px;

  @include md {
    display: none;
  }
}

.steps2__image {
  display: none;

  @include md {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding-top: 54px;
  }

  @include lg {
    display: none;
  }
}

.steps3__image {
  display: none;

  @include lg {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    padding-top: 54px;
  }
}

.name-block__image {
  padding-bottom: 226px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}