.sub-header {
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;

    @include md {
        padding-top: 22px;
        padding-left: 33px;
    }

    @include lg {
        padding-top: 25px;
        padding-left: 46px;
    }
}

.sub-header__logo {
    width: 23px;

    @include md {
        width: 29px;
    }
}