.back {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.panels {
   align-items: left;
    padding-top: 10%;
    padding-bottom: 10%;
    @include md {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        padding-left: 2%;
        padding-right: 2%;
       
    }

    @include lg {
        
    }
}

.about_panel {
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }

 .intro_panel {
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }

 .soc_panel {
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }

 .produce_panel {
 
    @include md {
       
    }

    @include lg {
        
    }
}

.enstarsstats_panel {
 
    @include md {
       
    }

    @include lg {
        
    }
}

.hiyori_tea {
    scale: 80%;
 
    @include md {
       
    }

    @include lg {
        
    }
}