.back {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.panels {
   align-items: left;

    @include md {
       
    }

    @include lg {
        
    }
}

.about_panel {
    align-items: left;
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }