.panels {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.hero__heading {
    color: $purple;
    font-size: 28px;

    @include md {
        font-size: 33px;
    }

    @include lg {
        font-size: 38px;
    }
}

.hero__button {
    color: $purple;
    align-content: center;
    display: inline-block;
    margin-top: 5px;
    text-decoration: none;
    background-color: $yellow;
    padding: 10px 30px;
    border-radius: 8px;
    width: fit-content;

    @include md {
        font-size: 17px;
        padding: 10px 18px;
    }

    @include lg {
        font-size: 21px;
        padding: 12px 20px;
    }
}

.hero_inner {
    text-align: center;
}