.back {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.panels {
   align-items: left;
    padding-top: 10%;
    padding-bottom: 10%;
    @include md {
       
    }

    @include lg {
        
    }
}

.about_panel {
    align-items: left;
    justify-content: left;

 
     @include md {
        
     }
 
     @include lg {
         
     }
 }

 .genshin_panel {
    align-items: left;
    justify-content: left;
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }

 .dni_panel {
    align-items: center;
    justify-content: left;
 
     @include md {
        
     }
 
     @include lg {
         
     }
 }